In [30]:
import cassandra

In [31]:
from cassandra.cluster import Cluster
try:
    cluster = Cluster(['127.0.0.1'])
    session = cluster.connect()
except Exception as e:
    print(e)

In [32]:
# Creating the keyspace (~ database)
try:
    session.execute("""
        CREATE KEYSPACE IF NOT EXISTS data_modelling
        WITH REPLICATION =
            {
                'class' : 'SimpleStrategy',
                'replication_factor' : 1
            }
    """)
except Exception as e:
    print(e)

In [33]:
# Connect to the keyspace
try:
    session.set_keyspace('data_modelling')
except Exception as e:
    print(e)

<h2>Questions for our data</h2>
<h4>1. Give me every album in the music library that was released in an year</h4>
SELECT * FROM MUSIC_LIBRARY WHERE YEAR = 1970

In [34]:
query = 'CREATE TABLE IF NOT EXISTS music_library '
query += '(YEAR INT, CITY TEXT, ARTIST_NAME TEXT, ALBUM_NAME TEXT, PRIMARY KEY (YEAR))'
try:
    session.execute(query)
except Exception as e:
    print(e)

In [35]:
query = 'INSERT INTO music_library (YEAR, CITY, ARTIST_NAME, ALBUM_NAME)'
query += ' VALUES (%s, %s, %s, %s)'
try:
    session.execute(query, (1970, 'New York', 'The Beatles', 'Let It Be'))
    session.execute(query, (1970, 'Bangalore', 'The Keatles', 'I Will Win'))
except Exception as e:
    print(e)

In [36]:
# Create table
try:
    rows = session.execute('SELECT * FROM music_library WHERE YEAR = 1970')
except Exception as e:
    print(e)
for row in rows:
    print(', '.join([row.artist_name, str(row.year), row.album_name, row.city]))

The Keatles, 1970, I Will Win, Bangalore

In [37]:
query = 'INSERT INTO music_library (YEAR, CITY, ARTIST_NAME, ALBUM_NAME)'
query += ' VALUES (%s, %s, %s, %s)'
try:
    session.execute(query, (1970, 'New York', 'The Beatles', 'Let It Be'))
    session.execute(query, (1970, 'Bangalore', 'The Keatles', 'I Will Win'))
except Exception as e:
    print(e)

In [38]:
# Create table
try:
    rows = session.execute('SELECT * FROM music_library WHERE YEAR = 1970')
except Exception as e:
    print(e)
for row in rows:
    print(', '.join([row.artist_name, str(row.year), row.album_name, row.city]))

The Keatles, 1970, I Will Win, Bangalore

In [39]:
query = 'CREATE TABLE IF NOT EXISTS music_library2 '
query += '(YEAR INT, CITY TEXT, ARTIST_NAME TEXT, ALBUM_NAME TEXT, PRIMARY KEY (YEAR, ALBUM_NAME))'
try:
    session.execute(query)
except Exception as e:
    print(e)

In [40]:
query = 'INSERT INTO music_library2 (YEAR, CITY, ARTIST_NAME, ALBUM_NAME)'
query += ' VALUES (%s, %s, %s, %s)'
try:
    session.execute(query, (1970, 'New York', 'The Beatles', 'Let It Be'))
    session.execute(query, (1970, 'Bangalore', 'The Keatles', 'I Will Win'))
except Exception as e:
    print(e)

In [41]:
# Create table
try:
    rows = session.execute('SELECT * FROM music_library2 WHERE YEAR = 1970')
except Exception as e:
    print(e)
for row in rows:
    print(', '.join([row.artist_name, str(row.year), row.album_name, row.city]))

The Keatles, 1970, I Will Win, Bangalore
The Beatles, 1970, Let It Be, New York

In [42]:
query = "DROP TABLE MUSIC_LIBRARY;"
try:
    rows = session.execute(query)
except Exception as e:
    print(e)

query = "DROP TABLE MUSIC_LIBRARY2;"
try:
    rows = session.execute(query)
except Exception as e:
    print(e)

In [43]:
session.shutdown()
cluster.shutdown()